/* Write your CSS here */
.body-layout-container {
  display: flex;
  justify-content: space-between;
}
.body-layout-container p,
.body-layout-container li,
.right-navbar div {
  font-size: 1.1rem;
  color: #64748b;
  line-height: 1.5;
}
.body-layout-container h2 {
  color: #475569;
}
.left-navbar,
.right-navbar {
  /* flex: 0 2 800px; */
  flex-shrink: 2;
  flex-basis: 800px;
  max-width: 300px;
  background-color: #e2e8f0;
}

.left-navbar li,
.right-navbar div {
  font-size: 1.3rem;
}
.content {
  flex: 2 1 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left-navbar,
.right-navbar,
.content {
  padding: 1em;
}
.content p {
  max-width: 50ch;
}
.right-navbar {
  display: grid;
  gap: 1em;
}
.right-navbar div {
  width: min(100%, 300px);
  aspect-ratio: 1;
  border: 1px solid #64748b;
  display: grid;
  place-items: center;
  gap: 1em;
}

@media (max-width: 768px) {
  .body-layout-container {
    flex-direction: column;
    text-align: center;
  }
  .content {
    justify-content: flex-start;
  }
  .left-navbar,
  .right-navbar {
    flex-basis: 100%;
    max-width: 100%;
  }
  .left-navbar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
  }
  .right-navbar {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
  }
  .right-navbar h2 {
    grid-column: span 2;
  }
}
